---
index: false
---

:ruby
  dir = sitemap.resources.select do |resource|
    resource.data.wiki_title
  end.sort_by { |resource| resource.data['wiki_revision_count'] }.reverse

=link_to '&larr; Back to site tools', '/site/'

:markdown
  # Pages ported from MediaWiki

  Sorted by number of revisions (by default)

%table.sortable.table
  %thead
    %tr
      %th
      %th Page
      %th Wiki
      - if config.environment == :development
        %th Edit
      %th{'data-defaultsort' => 'desc'} Revisions
      %th Size
      %th Category
      %th Authors
      %th Warnings
      %th Updated
  %tbody
    - dir.each do |wiki_page|
      - ovirt_url = "http://www.ovirt.org/#{wiki_page.data['wiki_title']}"
      - edit_url = "/admin/edit-external/?path=#{wiki_page.url}"

      - highlight = ''
      - highlight += ' warning' if wiki_page.data['wiki_warnings']

      %tr{class: highlight}
        %td.status
          - status = wiki_page.data['wiki_title'].match(/(draft|talk:|user:|wiki:|special:|help:)/i).to_s.gsub(/:/,'').downcase
          - draft = wiki_page.data['wiki_category'].to_s.match(/(draft)/i).to_s.downcase
          = status
          = draft unless status.match(/draft/i)
        %td.page
          -# Specifically do not use link_to,
          -# as the monkeypatch is slow when there are this many links
          -# and we don't need to have any smartness here
          %a{href: wiki_page.url}= wiki_page.data.wiki_title
        %td.original
          -# Same as above: Not using link_to on purpose
          %a{href: ovirt_url, target: 'blank'}
            %span{class: 'fa-external-link'}
        - if config.environment == :development
          %td.edit
            %a.edit-link{href: edit_url, target: 'blank'}
              %span{class: 'fa-pencil'}
        %td.revisions= wiki_page.data['wiki_revision_count']
        %td.size= File.stat(wiki_page.source_file).size
        %td.category= wiki_page.data['wiki_category']
        %td.authors= wiki_page.data['authors'].split(/, /).count
        %td.warnings= wiki_page.data['wiki_warnings']
        %td.updated= wiki_page.data['wiki_last_updated']

- content_for :tail do
  :coffee
    jQuery.bootstrapSortable('table')

    jQuery ($)->
      $('table')
        .on 'click', 'a.edit-link', (e)->
          do e.preventDefault

        .on 'mouseup', 'a.edit-link', (e)->
          do e.preventDefault

          $tr = $(@).parents('tr')

          $tr.addClass('editing')

          $.get @.href, (data)->
            $tr.removeClass('editing')
