---
index: false
---

:ruby

  def find_link(title)
    return unless title

    match = sitemap.resources.select do |resource|
      resource.data.wiki_title.to_s.strip == title.strip
    end.first

    match.url if match
  end

  def expand_redirect(title, redir = $REDIRECTS)
    match = redir[title]

    if match
      return expand_redirect(redir[title])
    else
      return title
    end
  end

  yaml_file = sitemap.resources.select do |resource|
    next unless resource
    resource.source_file.match(/redirects.(yml|yaml)$/)
  end.first

  if yaml_file
    redirs = YAML.load_file(yaml_file.source_file)

    $REDIRECTS = redirs[:wiki_redirects]
  end

-# redirs[:wiki_redirects].each do |orig, new|
  %li= "#{orig} => #{new}"

-# redirs[:map].each do |orig, new|

- if redirs
  - redirs[:map].each do |orig, new|
    - found = find_link(orig)
    - unless found
      - found_redir = find_link(expand_redirect(orig))
    %li
      %a{href: "http://ovirt.org/#{orig}", target: "_blank"}= orig

      %a{href: "/#{orig.gsub(/ /, '_')}"}
        %span.fa-external-link{title: "local link — should be remapped", target: "_blank"}

      = " => "
      - if found
        %a{href: found}= found
      - else
        - if found_redir
          %strong
            %a{href: found_redir}= found_redir
        - else
          %strong NO PAGE FOUND
