---
layout: false
---

:ruby

  conferences = []

  confs_match(data.site.events_filter).each do |year_label, year|

    if year_label[/\d{4}/]

      conferences += year.map do |conf_label, conf|

        time_pool = [
          Chronic::parse(conf.start),
          Chronic::parse(conf.end)
        ]

        if conf.talks
          conf.talks.each do |talk|
            time_pool.push Chronic::parse(talk.start)
            time_pool.push Chronic::parse(talk.end)
          end
        end

        time_pool.compact!

        current = time_pool.max.to_time > Time.now

        page = "/events/#{year_label}/"

        if conf.type && conf.type == 'series'
          if conf.talks
            conf.talks.each do |talk|
              fragment = "##{conf_label.parameterize}--#{talk.title.parameterize}"

              item = {
                title: talk.title,
                start: Chronic::parse(talk.start).strftime("%Y-%m-%d"),
                end: Chronic::parse(talk.end).strftime("%Y-%m-%d"),
                url: current ? fragment : page + fragment,
                className: current ? "current" : "old",
                allDay: true
              }

              conferences.push item
            end
          end

          nil # Conference-level data shouldn't be returned
        else
          fragment = "##{conf_label.parameterize}"

          {
            title: conf.name,
            start: conf.start || time_pool.min.to_date,
            end: conf.end || conf.start || time_pool.max.to_date,
            url: current ? fragment : page + fragment,
            className: current ? "current" : "old",
            allDay: true
          }
        end
      end

    end

  end


= conferences.compact.to_json.gsub(/},/, "},\r")
