:ruby
  # Example invocation (with optional "summarize"):
  #
  # = partial :blog_post, locals: {article: article, summarize: 300}
  #
  #      ...or include the current_page as article (in some cases):
  #
  # = partial :blog_post, locals: {article: current_page}

  def author_name nickname
    data.authors[nickname] ? data.authors[nickname].name : nickname
  end

  def author_link nickname, text = author_name(nickname)
    link_to text, "/blog/author/#{nickname}/"
  end

  def author_card nickname
    author = data.authors[nickname]

    if author && author['description']
      author['description']
    end
  end

  ###

  author = article.data.author

%article.post

  %header.post-header

    %h2.post-title
      - if (defined? article.url) && article.url != current_page.url
        = link_to article.title, article.url
      - else
        = article.title

    %header.post-meta
      by
      %span.author
        = author_link article.data.author

      &ndash;

      %time{datetime: article.date.iso8601}
        = pretty_date article.date

  %section.post-content
    - if defined? summarize
      = demote_headings article.summary summarize
      .read-more
        = link_to "Read More &raquo;", article.url
    - else
      = demote_headings article.body

  %footer.post-meta
    - if article.data.tags
      - tags = article.data.tags

      -# Handle a comma-separated list of tags
      - tags = tags.parse_csv.map{|s| s.strip} if tags.class == String

      .tags
        Tags:

        %ul.taglist
        - tags.sort {|a,b| a.downcase <=> b.downcase}.each do |tag|
          %li= link_to tag, tag_path(tag)

    - if author

      .author

        %h2
          About
          = author_name author

        .author-blurb= author_card author

        = author_link(author, "View all posts by #{author_name author} &raquo;")

    -# Share
