%footer#footer.text-center

  %hr.visible-print

  - if data.site.footer_links
    %ul.footer-nav-list
      - data.site.footer_links.each do |name, url|
        %li= link_to name.strip, url.strip, target: "_blank"

  =# data.site.founding_year
  - founding = data.site.founding_year
  - year_string = if founding && founding.to_i < Time.now.year
    - founding.to_s + '&ndash;' + Time.now.year.to_s
  - else
    - Time.now.year.to_s

  = data.site.copyright || "&copy; #{year_string} #{data.site.owner || data.site.name}"
  
  - source_file = current_page.source_file.sub(root, '')

  - labels = if source_file.include?("documentation")
    - "documentation"
  - else
    - "content"

  - issue_template = if source_file.include?("documentation")
    - "issue_template_documentation.md"
  - else
    - ""

  - icon = '<i class="icon fa fa-github"></i>'

  .edit-this-page
    - issue_url = "https://github.com/#{data.site.github}/issues/new?labels=#{labels}&title=Issue:%20#{source_file}&template=#{issue_template}"
    = link_to "#{icon}Report an issue with this page", issue_url, {target: '_blank'}
  .edit-this-page
    - edit_url = "https://github.com/#{data.site.github}/edit/master#{source_file}"
    = link_to "#{icon}Edit this page", edit_url, {target: '_blank'}

  = insert_piwik_tracker
