~ wrap_layout :basic do

  - content_for :head do
    = javascript_include_tag 'application'
    = javascript_include_tag 'admin'
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "print", media: "print"
    = stylesheet_link_tag "lib/admin"
    = stylesheet_link_tag "vendor/lepture-editor.css"

  = yield
