- wrap_layout :layout do
  .row

    .col-sm-8

      %h2= current_page.data.title

      .post_info
        = pretty_date(current_page.data.date)
        = current_page.data.authors
        -# current_page.data.authors.split(',').each do |author|
          = pluralize current_page.data.authors.split(','), "Author:"
          - each current_page.data.authors.split(',') do |author|
            %p= author

      = yield

    .col-sm-4

      %aside
        %h3 Recent Articles
        %ol
          - blog.articles[0...10].each do |article|
            %li
              = link_to article.title, article
              %span.post_info= pretty_date(article.date)

        %h3 Tags
        %ol
          -# blog.tags.sort({|l, r| l[1] <=> r[1] }).each do |tag, articles|
          - blog.tags.sort.first(15).each do |tag, articles|
            %li
              = link_to tag, tag_path(tag)
              %span.post_info (#{articles.size})

        %h3 By Year
        %ol
          - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
            %li
              = link_to year, blog_year_path(year)
              %span.post_info (#{articles.size})
