:ruby
  matches = current_page.data.wiki_title.to_s.match(/^category:(.*)/i)

  if matches && current_page.data.category_index != false
    r = sitemap.resources
    
    match_url = r.select { |p| p.url.match(/^#{current_page.url}/) && p.url != current_page.url }
    match_cat = r.select { |p| p.data.wiki_category.to_s.match(/#{matches[1]}/i) }
  end

~ wrap_layout :layout do
  = yield

  - if matches && current_page.data.category_index != false
    .category-pages

      - if match_url.count > 0
        %h2 Sub-pages
        .column-split
          - match_url.sort_by(&:url).each do |p|
            %li
              %a{href: p.url}= p.data.title

      - if (match_cat - match_url).count > 0
        %h2 Elsewhere
        .column-split
          - (match_cat - match_url).sort_by(&:url).each do |p|
            %li
              %a{href: p.url}= p.data.title
