---
layout: false
---

!!!
%html
  %head
    = javascript_include_tag 'application'
    = javascript_include_tag 'admin'
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "print", media: "print"
    = stylesheet_link_tag "lib/admin"
    = stylesheet_link_tag "vendor/lepture-editor.css"

    :sass
      html, body
        overflow: hidden

      input.title
        font-size: 140%
        height: auto

      .headerbar
        background: #444
        border-bottom: 1px solid #111
        padding: 0 1ex
        color: #eee
        line-height: 7ex

      .center-text
        text-align: center

      .left-side
        float: left

      .right-side
        float: right

      #edit-ui
        padding-top: 1em
        background: #eee

      .col-sm-6
        height: 100vh

        form
          padding: 0 0 0 1em

        form, iframe, #preview
          height: 100%

        textarea
          height: calc(100vh - 35rem)
          width: 100%

        iframe, #preview
          border: 1px solid #ccc
          height: 100vh
          width: 100%

        #preview
          padding: 0 2em
          overflow: auto
          background: #fff

        .body-editor

        .CodeMirror-scroll
          height: calc(100vh - 33rem)
          overflow: auto

        \:-webkit-full-screen
          .CodeMirror-scroll
            height: 100%

        \:-moz-full-screen
          .CodeMirror-scroll
            height: 100%

        .CodeMirror
          font-family: inherit
          border-radius: 3px
          border: 1px solid #ccc
          color: inherit
          transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s

          &.focus
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)
            border-color: #66afe9

      .modal
        h4
          margin: 0 0 1em

        .rename-date
          width: 14ex

        .rename-slug
          width: 38ex

        .alert
          margin-top: 2em

        strong.alert-danger
          background: transparent

  %body

    :ruby
      arg = request['params']
      article_date = arg['date'].strip
      article_slug = arg['slug'].strip

    - if defined?(article_slug) && defined?(article_date)

      :ruby
        article = blog.articles.select {|p| p.slug == article_slug && p.date.to_date.strftime('%F') == article_date.to_date.strftime('%F')}.first
        article_path = article.url
        article_file = article.source_file
        article_filename = article.source_file.split('/').last
        content = open(article_file).read

      %nav.headerbar
        .left-side
          =link_to "« Back to admin overview", "/admin/", {class: "btn btn-primary"}
        -#.right-side
          %button{id: "renameButton", "data-toggle" => "modal", "data-target" => "#renameDialog", class: "btn btn-warning"}
            Rename file

          %button{id: "deleteButton", "data-toggle" => "modal", "data-target" => "#deleteDialog", class: "btn btn-danger"}
            Delete post

        .center-text
          = article_filename

      #edit-ui.row
        .col-sm-6
          %form.editor.form-horizontal#blog-data{action: "/admin/save/", method: "post"}
            %input{type: "hidden", value: article_file, name: "filename"}

            .form-group
              -#%label.control-label.col-sm-2{for:"blog-title"} Title
              .col-sm-12
                %input.form-control.title{id:"blog-title", value: article.data['title'], name: "meta[title]"}

            .form-group
              %label.control-label.col-sm-2{for:"blog-author"} Author
              .col-sm-3
                %input.form-control.author{id:"blog-author", value: article.data['author'], name: "meta[author]"}

              %label.control-label.col-sm-2{for:"blog-date"} Date
              .col-sm-5
                %input.form-control.date{id:"blog-date", value: article.data['date'] || article_date, name: "meta[date]"}

            .form-group
              - tags = article.data['tags']
              - tags = tags.join ', ' if tags.class == Array

              %label.control-label.col-sm-2{for:"blog-tags"} Tags
              .col-sm-10
                %input.form-control.tags{id:"blog-tags", value: tags, name: "meta[tags]"}

            .form-group
              %label.control-label.col-sm-2
                /Options
              .col-sm-2
                %label
                  %input{type: "checkbox", checked: !article.published?, name: "meta[published]"}
                  Draft

              .col-sm-4
                %label
                  %input{type: "checkbox", checked: !(article.data['comments'] == false), name: "meta[comments]"}
                  Enable comments

              -#.col-sm-4.save(style="text-align:right")
                %input.btn.btn-primary#save-button{type:"submit",value:"Save"}

            -#%pre
              =article.data
            .body-editor
              %textarea#blog-content{name: "content"}
                = content.split(/^---$/).drop(2).join('---').strip

        .col-sm-6
          -#%iframe{src: "#{article_path}?contentonly=true"}
          #preview

      /* Rename dialog
      #renameDialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            -#.modal-header
              %button.close{"data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} &times;
                %span.sr-only Close

              -#%h4#myModalLabel.modal-title Rename

            .modal-body
              %h4#myModalLabel.modal-title
                %strong.rename-title= article.data['title']
                is currently saved as
                %code.rename-file= article_filename

              %form.form.form-inline
                .form-group
                  %label
                    Rename to:

                  %input.form-control.rename-date{value: article.date.to_date}
                  \-
                  %input.form-control.rename-slug{value: article.slug}
                  \.md

                  .alert.alert-warning{role: "alert"}
                    %i.fa.fa-warning
                    %strong Proceed with caution:
                    Renaming the file will change the published URL.
                    You should probably only rename files
                    %i before
                    publishing.

            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
              %button.btn.btn-warning{:type => "button"} Rename file

      /* Delete dialog
      #deleteDialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            .modal-body
              %h4#myModalLabel.modal-title= "Delete <code>#{article_filename}</code>?"

              .alert.alert-danger
                %i.fa.fa-warning
                %strong Warning:
                You cannot undo this action, unless the post has
                been already committed to git.

            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
              %button.btn.btn-danger{:type => "button"} Delete post

    - else

      = link_to "Return to admin page", ".."

:coffee
  $page = $(document)
  $form = $('#blog-data')
  $content = $('.body-editor')
  $blogContent = $('#blog-content')
  $renameDialog = $('#renameDialog')
  changeTimer = null
  currentSave = null
  currentLoad = null

  resizeTextarea = ->
    @contentTop = $content.position()['top']
    @contentLeft = $content.position()['left']
    $cm = $('.CodeMirror')

    #$content.css("height", $page.height() - @contentTop - @contentLeft + "px")
    $cm.css("height", $page.height() - @contentTop - @contentLeft + "px !important")
    console.log "Resized"

  stopAjax = ->
    do currentSave.abort if currentSave
    do currentLoad.abort if currentLoad

  renderPreview = ->
    do stopAjax
    $.get "#{article_path}?contentonly=true", (data)->
      @article = $('article', data)
      $('#preview').html(@article)

  saveForm = ->
    do stopAjax
    currentSave = $.post $form.attr('action'), $form.serialize(), (data)->
      console.log 'saved!', data
      setTimeout renderPreview, 500

  codeChange = ->
    clearTimeout changeTimer
    changeTimer = setTimeout(->
      do $form.submit
    , 500)

  parameterize = (str) ->
    # Quick, lame 80%-working hack for "parameterize"
    str.toLowerCase().replace(/\s/g, '-').replace(/[^\w-]/g, '')

  syncFields = ->
    title = $("#blog-title").val()
    date = $("#blog-date").val().match(/[^ ]*/)

    $('.rename-date', $renameDialog).val(date)
    $('.rename-slug', $renameDialog).val(parameterize(title))

  $form.on 'submit', (e) ->
    console.log 'saving...'
    do editor.codemirror.save
    do saveForm
    do e.preventDefault
    return false

  $form.on 'change', codeChange
  $form.on 'keypress', codeChange

  $('#renameButton').on 'click', (e) ->
    do syncFields
    #do $('.rename-slug').focus

  $(window).on 'unload', saveForm
  $(window).on 'blur', saveForm


  $ ->
    do LiveReload.shutDown

    editor = new Editor()
    do editor.render
    editor.codemirror.on 'change', codeChange
    editor.codemirror.on 'focus', -> $('.CodeMirror').addClass('focus')
    editor.codemirror.on 'blur', -> $('.CodeMirror').removeClass('focus')
    do editor.codemirror.focus

    window.editor = editor

    do renderPreview

  @
