---
layout: false
---

:ruby
  results = req.env['rack.request.form_hash']

  meta, content = results['meta'], results['content']

  slug = results['slug']
  path = results['path']
  old_filename = results['filename']
  new_filename = "#{meta['date'].to_date}-#{slug}.html.md"

  meta.reject! {|k, v| v.empty?}

  meta.each do |k, v|
    v = true if v == "on"
    v = false if v == "off"
    meta[k] = v
  end

  # Ensure published state is preserved (and reversed, as published != draft)
  meta['published'] = !meta['published']

  yamlized = meta.to_yaml.gsub(/^----$/, '---').gsub(/^date: '(.*)'$/, 'date: \1')
  content = content.gsub(/\r\n/, "\n")

  File.delete "#{path}/#{old_filename}" if old_filename != new_filename

  File.write "#{path}/#{new_filename}", "#{yamlized}---\n\n#{content}"

= {date: meta['date'].to_date, slug: slug}.to_json
