---
title: Documentation
category: documentation
layout: toc
authors: dneary, metao, quaid
datavideos:
  - category: Introduction
    videos:
    - name: Setup Networks
      url: https://www.youtube.com/embed/nYckKd5Z5N0
      lang: Eng
      ver: 4.1
    - name: Introdução ao Ovirt
      url: https://www.youtube.com/embed/pq4GiNlnyqI
      lang: Portuguese
      ver: 3.5
  - category: Installation
    videos:
    - name: Installing oVirt Engine
      url: https://www.youtube.com/embed/9QD8fcO9icQ
      lang: Eng
      ver: 4.1
    - name: Setup a basic single host oVirt environment
      url: https://www.youtube.com/embed/Pasz-lv3gTY
      lang: Eng
      ver: 4.0
    - name: часть 1 - введение
      url: https://www.youtube.com/embed/rg15nxznfwQ
      lang: Russian
      ver: 3
  - category: Networking
    videos:
    - name: Setup Networks
      url: https://www.youtube.com/embed/3EMrqQR-f3w
      lang: Eng
      ver: 3.2
  - category: Storage
    videos:
    - name: Adding Storage to the Engine
      url: https://www.youtube.com/embed/0fRnpmav-Pw
      lang: Eng
      ver: 4.1
    - name: Adding Storage to the Engine
      url: https://www.youtube.com/embed/10z7tqbTt5Q
      lang: Eng
      ver: 3.5
    - name: GlusterFS Native Integration for KVM Virtualization
      url: https://www.youtube.com/embed/0iIuHCz8L04
      lang: Eng
      ver: 3.2
    - name: Managing Gluster from oVirt
      url: https://www.youtube.com/embed/NBu3wAXxq-Q
      lang: Eng
      ver: 3.2
  - category: Life Cycle
    videos:
    - name: Connecting Additional Hosts
      url: https://www.youtube.com/embed/6lMz7JyHZfI
      lang: Eng
      ver: 4.1
    - name: Create Windows VM Golden
      url: https://www.youtube.com/embed/duTWu9lhj6E
      lang: Eng
      ver: 4.2
---


%h1.hidden.firstHeading Documentation

.row
  .col-md-5.listNotAsUL
    :markdown
      ### ![](./../images/icon_basic_documentation.png) Primary Documentation
      - [Quick Start Guide](quickstart/quickstart-guide)
      - [oVirt Installation Guide](install-guide/Installation_Guide)
      - [oVirt Upgrade Guide](upgrade-guide/upgrade-guide)
      - [oVirt Administration Guide](admin-guide/administration-guide/)
      - [oVirt Virtual Machine Management Guide](vmm-guide/Virtual_Machine_Management_Guide)
      - [oVirt Introduction to the Administration Portal](intro-admin/Introduction_to_the_Administration_Portal)
      - [oVirt Introduction to the User Portal](intro-user/Introduction_to_the_User_Portal)
      - [oVirt Self-Hosted Engine Guide](self-hosted/Self-Hosted_Engine_Guide)
      - [oVirt Data Warehouse Guide](data-warehouse/Data_Warehouse_Guide)
      - [oVirt Gluster Hyperconvergence Guide](gluster-hyperconverged/Gluster_Hyperconverged_Guide)

      ### ![](./../images/icon_advanced_documentation.png) Additional Documentation
      - [Introduction](./introduction)
      - [Administration](./admin-guide)
      - [Architecture](./architecture)
      - [How to guides](./how-to)
      - [Internal](./internal)
      - [Security](./security)
      - [SLA](./sla)
      - [Storage](./storage)
      - [Drafts](./draft)
      - [Resources](./resources)
      - ***
      - ####[Looking for developer Documentation?](./../develop)



  .col-md-4.listNotAsUL
    :markdown
      ### ![](./../images/icon_release_note.png) Release Notes

      #### Latest Release Notes
      - [oVirt 4.2.0 Beta](/release/4.2.0/)
      - [oVirt 4.1.7](/release/4.1.7/)
      - [All Releases](/release/)

      ### ![](./../images/icon_need_help.png) Need Help?
      - [oVirt User List is your friend](<mailto:users@ovirt.org>)


  .col-md-3.backgroundForVideos
    :markdown
      ### ![](./../images/icon_videos.png) Useful Videos
    %hr
    %h4
      - current_page.data.datavideos.each do |section|
        %p.videoCategory
          #{section.category}
          - section.videos.each do |video|
            %p.videoName #{video.name}
            <iframe width="261" height="141" src="#{video.url}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            %div
              %span.videoVer Version: #{video.ver}
              %span.videoLang #{video.lang}
            %hr
