%footer#footer.text-center

  %hr.visible-print

  - if site.data.site.footer_links
    %ul.footer-nav-list
      - site.data.site.footer_links.each do |name, url|
        %li
          %a{ :href => url.strip, :title => name.strip, :target => "_blank" }= name.strip

  - founding = site.data.site.founding_year
  - year_string = if founding && founding.to_i < Time.now.year
    - founding.to_s + '&ndash;' + Time.now.year.to_s
  - else
    - Time.now.year.to_s

  = "&copy; #{year_string} {{ site['title'] }}"

  - labels = if page.path.include?("documentation")
    - "documentation"
  - else
    - "content"

  - issue_template = if page.path.include?("documentation")
    - "issue_template_documentation.md"
  - else
    - ""

  - icon = '<i class="icon fab fa-github"></i>'

  - if not page.generated
    .edit-this-page
      - issue_url = "https://github.com/#{site.data.site.github}/issues/new?labels=#{labels}&title=Issue:%20#{page.url}&template=#{issue_template}"
      %a{ :href => issue_url, :title => "Report an issue", :target => "_blank" }= "#{icon}Report an issue with this page"
    .edit-this-page
      - edit_url = "https://github.com/#{site.data.site.github}/edit/master/#{[site['source'], page.path].join('/')}"
      %a{ :href => edit_url, :title => "Edit this page", :target => "_blank" }= "#{icon}Edit this page"

  = insert_piwik_tracker
