---
title: ''
page_classes: front-page
pageable: false
no_container: true
authors: bproffitt, dneary, doron, knesenko, mburns, quaid, sandrobonazzola, theron, garrett
hide_metadata: true
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")


%section.intro

  .container

    .div
      %h1.tagline.text-center
        Open your virtual datacenter

      %h2.text-center oVirt is an open source, enterprise足 class, virtual datacenter platform,

      %h2.text-center
        built on the foundation of the Linux KVM hypervisor.


- if defined? page_number && page_number < 2

  -# First-page only stuff here
  -# (If a blog is included below, then it may paginate)

.release
  .container
    :ruby
      # Rely on either a releases.yml or scan the release directory
      # (Hard-coding release version & date is temporary)
      release_version = '4.1.5'
      release_date = '2017-08-22'.to_date

    :markdown
      {:.pull-left}
      [Get started with oVirt #{release_version} (#{release_date})](/download/)


      {:.pull-right}
      [Read the release notes](/release/#{release_version}/)

%div.promo_whatisovirt
  .container
    .row
      .col-md-8
        %h2 What is oVirt?
        %div
          :markdown
            oVirt is a complete virtualization mangement platform, licensed and developed as
            open source software.
            oVirt builds on the powerful kernel足based Virtual Machine (KVM hypervisor, and on
              RHEV足M management server released by Red Hat to the open source community.
      .col-md-4
        %div
          %img(src="/images/promo/kvm_illustration.png")

%div.promo_features
  .container
    .row
      .col-md-8
        %h2 Packed with Features
        %div
          :markdown
            * Rich web足based administrator interface and user portal
            * Live migration of VMs and disks between hosts and storage
            * Integrated management of hosts, storage and network configuration
            * High availability: migrate and restart VMs in case of host failure

      .col-md-4
        %div
          %img(src="/images/promo/graphic_packed_with_features.png")

%div.promo_casestudy
  .container
    %h2 Case Studies
    %div.carousel-inner.text-center
    :ruby
      studies = sitemap.resources.select do |p|
        next unless p.data.page_classes
        p.data.page_classes[/case-studies/]
      end.first

      first_case_study = Nokogiri::HTML(studies.render({layout: false}))
        .css('.case-study')[0]

      second_case_study = Nokogiri::HTML(studies.render({layout: false}))
        .css('.case-study')[1]

      third_case_study = Nokogiri::HTML(studies.render({layout: false}))
          .css('.case-study')[2]

    %div.item.active
      %div.useCaseHolder
        :markdown
          #{first_case_study}

      %div.useCaseHolder
        :markdown
          #{second_case_study}

      %div.useCaseHolder
        :markdown
          #{third_case_study}

  %div
    .container
      .textViewAllItems
        :markdown
          [View all case studies](/community/user-stories/user-stories/)

.container
  .row
    .col-md-12
      %section.blog-posts

        %h2
          = data.site.name
          Blog

        = partial :blog_posts, locals: {limit: 3}

        %div.textViewAllItems
          = link_to 'See all blog posts', '/blog/'
        %hr/

.container
  .row
    .col-md-6
      %h2 @oVirt on Twitter
      .twitter-widget
        :ruby
          twitter_options = {
            :href => 'https://twitter.com/ovirt',
            'data-chrome' => 'noheader nofooter noborders noscrollbar transparent',
            'data-dnt' => true,
            'data-tweet-limit' => 3,
            'data-link-color' => '#61b60e',
            'data-show-replies' => false,
            'data-widget-id' => '615488920038420480'
          }

        :javascript
          // Load the Twitter widget JS in a <script> at the top of the doc
          !function (doc, tag, id) {
            var scriptTag,
                firstScriptTag = doc.getElementsByTagName(tag) [0];

            if (!doc.getElementById(id)) {
              scriptTag = doc.createElement(tag);
              scriptTag.id = id;
              scriptTag.src = '//platform.twitter.com/widgets.js';
              firstScriptTag.parentNode.insertBefore(scriptTag, firstScriptTag);
            }
          }(document, 'script', 'twitter-wjs');

        -# Hook for the Twitter widget
        .twitter-timeline{twitter_options}
          %noscript The embedded Twitter timeline requires JavaScript.

        .more-link.pull-right
          -# More link under the widget
          %a.textViewAllItems{href: twitter_options[:href]} More tweets by @oVirt&hellip;

    .col-md-6
      %div
        %h3 Community is Key
        %img(src="/images/promo/join_ovirt.jpg")
        :markdown
          Everyone is encouraged to [join the oVirt community](/community/), and help us bring our open source software to virtual datacenters worldwide.
          Community can be found in many places in the global community. Keep track of the latest happenings in the oVirt community, including new release announcements, and send your thoughts and links to virtualization-related topics on these social media channels:

          {:.icon-list}
          * [Twitter](//twitter.com/ovirt){:.icon-twitter}
          * [Google+](//plus.google.com/u/0/communities/109346090491400112913){:.icon-google-plus}
          * [Facebook](//www.facebook.com/groups/ovirt.openvirtualization/){:.icon-facebook}
          * [YouTube](//www.youtube.com/user/ovirtproject){:.icon-youtube}


- content_for :tail do
  :coffee
    $ ->
      # Change the location to what's in the link if the span is clicked
      $('span.btn').on 'click', (e)->
        window.location = $('a', @).attr('href') if @ == e.target
