---
title: ''
page_classes: front-page
pageable: false
no_container: true
authors: bproffitt, dneary, doron, knesenko, mburns, quaid, sandrobonazzola, theron, garrett
hide_metadata: true
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")


%section.intro
  .container{:style => "width: 970px;" }
    %div{:style => "text-center: center;" }
      %div{ :style => "background-image: url(/images/promo/4dot2alpha_banner.png); background-repeat: no-repeat; background-position-y: 20px;" }
        %div{:style => "text-center: center;" }
          %div{:style => "display: table; margin: 0 auto; padding-left: 200px; font-size: 20px; padding-top: 110px; color:#666666; line-height: 1.8; text-align: left;" }
            :markdown
              * All new Administration Portal, for a more intuitive user experience
              * High performance VM type, approaching bare-metal performance 
              * Support for OVN, enabling users to define overlays within oVirt
              * Support for Nvidia vGPU, for GPU-accelerated workloads
              * and [much more.](/blog/2017/09/introducing-ovirt-4.2.0/)

- if defined? page_number && page_number < 2

  -# First-page only stuff here
  -# (If a blog is included below, then it may paginate)

.release
  .container
    :ruby
      # Rely on either a releases.yml or scan the release directory
      # (Hard-coding release version & date is temporary)
      release_version = '4.1.6'
      release_date = '2017-09-18'.to_date

    :markdown
      {:.pull-left}
      [Get started with oVirt #{release_version} (#{release_date})](/download/)


      {:.pull-right}
      [Read the release notes](/release/#{release_version}/)

%div.promo_whatisovirt
  .container
    .row
      .col-md-8
        %h2 What is oVirt?
        %div
          :markdown
            oVirt is a complete virtualization mangement platform, licensed and developed as
            open source software.
            oVirt builds on the powerful kernel based virtual machine (KVM hypervisor) and on
              RHEV-M management server released by Red Hat to the open source community.
      .col-md-4
        %div
          %img(src="/images/promo/kvm_illustration.png")

%div.promo_features
  .container
    .row
      .col-md-8
        %h2 What's included?
        %div
          :markdown
            * Rich web-based user interfaces for both admin and non-admin users
            * Live migration of virtual machines and disks between hosts and storage
            * Integrated management of hosts, storage and network configuration
            * High availability of virtual machines in the event of host failure

      .col-md-4
        %div
          %img(src="/images/promo/graphic_packed_with_features.png")

%div.promo_casestudy
  .container
    %h2 Case Studies
    %div.carousel-inner.text-center
    :ruby
      studies = sitemap.resources.select do |p|
        next unless p.data.page_classes
        p.data.page_classes[/case-studies/]
      end.first

      first_case_study = Nokogiri::HTML(studies.render({layout: false}))
        .css('.case-study')[0]

      second_case_study = Nokogiri::HTML(studies.render({layout: false}))
        .css('.case-study')[1]

      third_case_study = Nokogiri::HTML(studies.render({layout: false}))
          .css('.case-study')[2]

    %div.item.active
      %div.useCaseHolder
        :markdown
          #{first_case_study}

      %div.useCaseHolder
        :markdown
          #{second_case_study}

      %div.useCaseHolder
        :markdown
          #{third_case_study}

  %div
    .container
      .textViewAllItems
        :markdown
          [See more...](/community/user-stories/user-stories/)

.container
  .row
    .col-md-12
      %section.blog-posts

        %h2
          = data.site.name
          Blog

        = partial :blog_posts, locals: {limit: 3}

        %div.textViewAllItems
          = link_to 'See more...', '/blog/'
        %hr/

.container
  .row
    .col-md-6
      %h2 @oVirt on Twitter
      .twitter-widget
        :ruby
          twitter_options = {
            :href => 'https://twitter.com/ovirt',
            'data-chrome' => 'noheader nofooter noborders noscrollbar transparent',
            'data-dnt' => true,
            'data-tweet-limit' => 3,
            'data-link-color' => '#61b60e',
            'data-show-replies' => false,
            'data-widget-id' => '615488920038420480'
          }

        :javascript
          // Load the Twitter widget JS in a <script> at the top of the doc
          !function (doc, tag, id) {
            var scriptTag,
                firstScriptTag = doc.getElementsByTagName(tag) [0];

            if (!doc.getElementById(id)) {
              scriptTag = doc.createElement(tag);
              scriptTag.id = id;
              scriptTag.src = '//platform.twitter.com/widgets.js';
              firstScriptTag.parentNode.insertBefore(scriptTag, firstScriptTag);
            }
          }(document, 'script', 'twitter-wjs');

        -# Hook for the Twitter widget
        .twitter-timeline{twitter_options}
          %noscript The embedded Twitter timeline requires JavaScript.

        .more-link.pull-left
          -# More link under the widget
          %a.textViewAllItems{href: twitter_options[:href]} See more...

    .col-md-6
      %div
        %h3 Community is Key
        %img(src="/images/promo/join_ovirt.jpg")
        :markdown
          oVirt is a community-driven virtualization project, and people like you are making it happen! You don't have to be a programmer.
          The project will greatly benefit from inputs by documentation, bug reporting, UX, and design superheroes.

          Stay in the loop about the latest features, upcoming events and other community-related developments by joining us on oVirt's social media channels:

          {:.icon-list}
          * [Twitter](//twitter.com/ovirt){:.icon-twitter}
          * [Google+](//plus.google.com/u/0/communities/109346090491400112913){:.icon-google-plus}
          * [Facebook](//www.facebook.com/groups/ovirt.openvirtualization/){:.icon-facebook}
          * [YouTube](//www.youtube.com/user/ovirtproject){:.icon-youtube}

      %div.see_all_events
        = link_to 'Check out our Upcoming events', '/events/'

- content_for :tail do
  :coffee
    $ ->
      # Change the location to what's in the link if the span is clicked
      $('span.btn').on 'click', (e)->
        window.location = $('a', @).attr('href') if @ == e.target
