:ruby
  dir = sitemap.resources.select do |resource|
    resource.data.wiki_title && resource.source_file.match(/md$/)
  end.sort_by { |resource| resource.data['wiki_revision_count'] }.reverse

:markdown
  # Pages ported from MediaWiki

  Sorted by number of revisions (by default)

%table.sortable.table
  %thead
    %th
    %th Page
    %th Revisions
    %th Size
    %th Category
    %th Authors
    %th Updated
  %tbody
    - dir.each do |wiki_page|
      %tr
        %td.status
          - status = wiki_page.data['wiki_title'].match(/(draft|talk:|user:|wiki:|special:|help:)/i).to_s.gsub(/:/,'').downcase
          - draft = wiki_page.data['wiki_category'].to_s.match(/(draft)/i).to_s.downcase
          = status
          = draft unless status.match(/draft/i)
        %td.page= link_to wiki_page.data.wiki_title, wiki_page.url
        %td.revisions= wiki_page.data['wiki_revision_count']
        %td.size= File.stat(wiki_page.source_file).size
        %td.category= wiki_page.data['wiki_category']
        %td.authors= wiki_page.data['authors'].split(/, /).count
        %td.updated= wiki_page.data['wiki_last_updated']

- content_for :tail do
  :javascript
    $.bootstrapSortable('table')
