---
title: Subprojects
authors: amureini, bproffitt, doron, ecohen, jbrooks, jhernand, kmayilsa, knesenko,
  lvroyce, mskrivan, obasan, sandrobonazzola, shaharh, tjelinek, vfeenstr
---

-#######################################################################
-# NOTE: All the data on this page can be found at:
-#       data/subprojects.yml
-#
-#       Edit the data in the above file, not here.
-#######################################################################

%h1 Subprojects

Some projects use the same lists to facilitate communication and
community growth.

:ruby
  def process_items items, type = ''
    html = ''

    return '' if items.nil?

    items.each do |item|
      snippet = type == 'author' ? author_name(item) : item

      if item.class == String
        html += "<li>#{snippet}</li>"
      else
        key = item.keys.first
        val = item[key]
        html += "<li><a href='#{val}'>#{key}</a></li>"
      end
    end
    "<ul>#{html}</ul>"
  end

  cats = %w(Project Maintainers Lists Resources Board Source GitWeb)

  all_projects = {
    active: data.subprojects.reject {|_, p| p.incubation | p.deprecated},
    incubation: data.subprojects.select {|_, p| p.incubation},
    deprecated: data.subprojects.select {|_, p| p.deprecated}
  }

- all_projects.each do |type, projects|
  - next if projects.nil?

  - cats.pop if type == :incubation

  %section{class: "subprojects-#{type}"}

    %h2= type.to_s.titleize

    %table
      %thead
        %tr
          - cats.each do |cat|
            %th= cat

      %tbody
        - projects.each do |project_name, project|
          %tr{class: "project-#{project.incubation ? 'incubation' : 'active'}"}
            %th= project_name
            - cats.each do |cat|
              - next if cat.match(/project/i)
              - type = 'author' if cat.match(/^(maintainers|board)$/i)
              %td{class: "category-#{cat.downcase}"}= process_items project[cat.downcase], type
