---
pageable: false
per_page: 99999
index: false
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")

  - if defined? tagname
    %link(href="/blog/tag/#{tagname.parameterize}.xml" rel="alternate" title="Atom feed" type="application/atom+xml")


- if defined? tagname

  %h2
    Articles tagged '#{tagname}'

  %ul
    - articles_by_tag(tagname).reverse.each do |article|

      %li
        %a{href: article[:url]}= article[:title]
        %span= article[:date].strftime('%b %e')

  = link_to "Feed for #{tagname} tag",
            "/blog/tag/#{tagname.parameterize}.xml",
            {class: 'icon-feed'}

- else

  - if optimized_tags.count > 0

    - min_size = optimized_tags.values.min
    - max_size = optimized_tags.values.max

    %h2 All tags

    .tag-cloud

      - optimized_tags.sort_by { |t, d| t.downcase }.each do |tag_name, count|
        %span.tag
          %a{href: "/blog/tag/#{tag_name.parameterize}/", style: tag_size_css(count, min_size, max_size)}= tag_name

  - else

    %h2 No tags found
